.targeta {
    width: 28rem;
    height: 10rem;
}

.menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    border: 3px solid white;
    box-shadow: -28px 6px 7px 9px rgb(0 0 0 / 20%);
}

.menu a img {
    width: 20%;
    margin-right: 10px;
}

.menu strong {
    font-size: 2rem;
}